<div class="layout-empty align-middle">
  <%= render 'shared/vinyl' %>
  <h2> Whoops! No posts found in category <i><%= @category_name %></i>. </h2>
  <p> Click <%= render 'shared/buttons/create_post'%> to make one! </p>
</div>