<section class="layout-comments">
  <h3>Comments</h3>

  <% if @post.comments.size == 0 %>
    <div> VAZIO </div>
  <% else %>
    <section class="comment-list">
      <% @post.comments.sort.reverse.each do |comment| %>
          <div class="comment-cell">
            <%= render 'comments/placeholders/avatar' %>
            <div class="comment-cell-user inline-container">
              <h4><%= comment.user %></h4>
              <i><%= comment.created_at.strftime("%d/%m/%y, %H:%M:%S") %></i>
              <span class="fas fa-pen-square fa-lg comment-edit"></span>
            </div>
            <div class="comment-cell-content"><%= comment.content %></div>
          </div>
      <% end %>
    </section>
  <% end %>
</section>