<section class="layout-comments">
  <h3>Comments</h3>

  <section class="comment-list">
    <% if @post.comments.size == 0 %>
      <h4> No comments yet! </h4>
      <p> Click on the button below to add one :) </p>
    <% else %>
      <section class="comment-list">
        <%= render @comments %>
        <%= will_paginate @comments, class: "flickr-pagination" %>
      </section>
    <% end %>
  </section>
</section>