<% if @post.errors.any? %>
  <section class="layout-errors">
    <p class="layout-errors-title">
      <%= pluralize(@post.errors.count, "error")%> prevented this post from saving:
    </p>
    <ul class="layout-errors-list">
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </section>
<% end %>