<% if @posts.size == 0 %>
  <%= render 'empty_page' %>
<% else %>
  <div class="inline-container">
    <h1><%= current_page?(root_path) ? "Home" : @category.name %></h1>
    <%= render 'shared/buttons/create_post'%>
  </div>
  <hr/>
  <section class="post-list">
    <%= render @posts %>
  </section>
<% end %>