<h1>Hello world!</h1>

<% if @posts.size == 0 %>
  <p> nothing here </p>
<% end %>

<% @posts.each do |post| %>
  <div class="inline"> <h1> <%= link_to post.title, post %> </h1> </div>
  <div class="inline"> <i id="date"> <%= post.created_at.strftime("%d/%m/%y") %> </i> </div>
  <p> <%= post.content %> </p>
<% end %>