// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  &-link {
    &-post {
      color: #333333;
    }

    &-user {
      color: #222222;
    }
  }

  &-list, &-form {
    margin: 10px;
    padding-left: 10px;
  }

  &-cell {
    height: 75px;
    &-user {
      i {
        color: #777777;
        font-size: 12px;
      }
    }
  }

  &-form {
    &-avatar {
      float: left;
      height: 50px;
      width: 50px;
      margin: 0px 20px auto 0px;
      img {
        border-radius: 50%;
        height: 100%;
        width: auto;
      }
    }
    .form-container {
      margin-top: 15px;
      margin-left: 70px;
      margin-right: 70px;
    }
    &-submit {
      float: right;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0px 0px auto 20px;
    }
    textarea {
      border-radius: 10px;
      border-style: solid;
      padding: 10px;
      resize: none;
      width: 100%;
    }
  }

  &-avatar {
    height: 50px;
    width: 50px;
    margin: 11px 20px auto 0px;
    float: left;
    img {
      border-radius: 50%;
      height: 100%;
      width: auto;
    }
  }

  &-actions {
    margin-left: 25px;
  }

  &-button {
    color: #777777;
    &:hover {
      color: #222222;
      text-decoration: none;
    }
  }
}
