html {
  position: relative;
  height: 100%;
}

/* Bootstrap Fixed NAV Padding */
body {
  min-height: 100vh;
  // overflow: hidden;
  display: block;
  position: relative;
  padding-top: 65px;
  padding-bottom: 115px;
}

/* Bootstrap override */
.nav-item:hover {
  background-color: #333333;
}

.nav-create-button {
  @media (min-width: $screen-md - 224px) {
    margin-left: 20px;
  }
}

.button-sum {
  font-weight: bold;
}

.inline-container {
  &, h1, h2, h3, h4, p, span, i, strong, div, img {
    display: inline-block;
  }
}

.line-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.layout {
  &-header {
    &-user {
      line-height: 50px;
      float: right;
      a {
        color: #9d9d9d;
        &:hover {
          color: #bbbbbb;
          text-decoration: none;
        }
      }
      a, span {
        margin-left: 10px;
      }
      .name {
        color: #dddddd;
      }
    }
  }

  &-empty {
    margin: 20px auto;
    text-align: center;
    & > img {
      width: 125px;
      height: 125px;
      display: block;
      margin: 10px auto;
    }
  }

  &-page {
    width: 80%;
    margin: 0 auto;
  }

  &-illustration {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &-illustration img {
    width: 100%;
    margin-top: -50%;
  }

  &-errors {
    &-title {
      font-weight: bold;
    }
    &-list {
      color: red;
    }
  }

  &-comments {
    margin-top: 25px;
  }
}

footer {
  background-color: #333333;
  color: #9d9d9d;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  img {
    height: 35px;
    width: 35px;
    margin: 7px auto;
  }
}