.inline-container {
  &, h1, h2, h3, h4, p, span, i, strong, div, img {
    display: inline-block;
  }
}

.line-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post {
  &-list {
    margin: 25px 0;
  }
  &-cell {
    height: 100px;
  }
  &-image {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
  }
  &-image img {
    top: 0;
    bottom:0;
    width: 100%;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 120px;
    padding-right: 20px;
  }
}