.inline-container {
  &, h1, h2, h3, h4, p, span, i, strong, div, img {
    display: inline-block;
  }
}

.post {
  &-cell {
    height: 100px;
    overflow: hidden;
    text-overflow: clip;
    white-space: wrap;
  }
  &-image {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
  }
  &-image img {
    top: 0;
    bottom:0;
    width: 100%;
  }
  &-content {
    width: 100%;
    height: 100%;
  }
}